body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
  line-height: 24px;
  letter-spacing: 0.02em;
}

a.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.03em;
}

a.logo span {
  color: #4d5ae5;
}

a {
  color: #2e2f42;
  text-decoration-line: none;
}

.navMenu li {
  font-weight: 500;
}

li {
  list-style: none;
}

.headerAddress li a {
  font-weight: 400;
  color: #434455;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.solutionSection {
  background-color: #2e2f42;
}

.orderButton {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

.ourFeatures li p {
  font-weight: 400;
}

.ourTeam {
  background-color: #f4f4fd;
}

.ourTeam h2,
.ourPortfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.ourTeam ul li h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.ourTeam ul li p {
  text-align: center;
}

.ourTeam ul li {
  background-color: #ffffff;
}

.ourPortfolio ul li h3 {
  font-weight: 500;
  font-size: 20px;
}

.footer {
  background-color: #2e2f42;
}

.footer a,
.footer p {
  color: #ffffff;
}
